


body {
    background-color: #ffffff;
}

header { 
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #023e7a;
}

header h1 {
    font-size: 50px;
    color: #ffffff;
    font-family: sans-serif;
    text-shadow: 10px 3px 5px black;


}
nav ul li a {
    color:white;
    text-decoration: none;
    
}

main{
    font-family:sans-serif ;
    font-size: 15px;
    
}

main #about-me-main{
    padding-top: 20px;
    font-size: 40px;
}

nav ul li {
        font-family: sans-serif;
        list-style: none;
        padding-right: 100px;
        margin-right: 20px;
        float: right;
        font-size: 30px;
        
    
}


#jericho-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 500px;
    height: 500px;
}

main h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.line {
    padding: 2px;
    border-color:blueviolet;
    align-items: center;
}

main p {
    flex-wrap: wrap;
    padding: 10px;
    
    margin-top:100px;
    color: teal;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
}

.contacts {
 
 display: flex;
}

.contacts a {
    
    padding: 10px;
    font-size: 40px;
    margin-top:100px;
    color: teal;
    
    margin-left: 80px;
   
    
}
footer {
    padding: 20px;
    background-color: burlywood;
}

.line {
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex: wrap;
    display:block;
}

#main-project {
    text-align:center;

    display:block;
    margin:auto;
    border: 5px black;
    
    
}

.images {
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex: wrap;
    display:block;

}

.images a img {
    text-align: center;
    margin: 0 5% 0 5%;
    
    }
.contactInformation {
    text-align: center;
    padding-bottom: 20px;
}