* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #ffffff;
}

header { 
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #023e7a;
}

header h1 {
    font-size: 80px;
    color: #ffffff;
    font-family: sans-serif;
    text-shadow: 10px 3px 5px black;

}

main{
    font-family:sans-serif ;
    font-size: 25px;
    
}
nav ul li {
        font-family: sans-serif;
        list-style: none;
        padding-right: 100px;
        margin-right: 20px;
        float: right;
        font-size: 30px;
        
    
}
nav ul li a {
    color:white;
    text-decoration: none;
    
}

#jericho-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

main h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.line {
    padding: 2px;
    border-color:blueviolet;
    align-items: center;
}

main p {
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
    margin-top:100px;
    color: teal;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.contacts {
 
 display: flex;
}

.contacts a {
    
    padding: 10px;
    font-size: 20px;
    margin-top:100px;
    color: teal;
    
    margin-left: 80px;
   
    
}
footer {
    padding: 20px;
}

.line {
    border: solid burlywood;
    width: 30%;
    margin: 0 auto;
    display: block;
}

#main-project {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

